<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${system_path:JLink}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="&quot;usb 680494130&quot; &quot;selectinterface swd&quot; &quot;speed 1000&quot; &quot;device nrf51422_xxac&quot; &quot;connect&quot; &quot;h&quot; &quot;loadfile s130_nrf51_2.0.1_softdevice.hex&quot; &quot;r&quot; &quot;g&quot; &quot;exit&quot;"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${git_work_tree}/nrf/components/softdevice/s130/hex"/>
</launchConfiguration>
